.swiper {
    width: 100%;
}
.swiper-slide{
    width: 8rem;
}
.menu-icon{
    width: 8rem;
}

@media (max-width: 768px) {
    .swiper {
        width: calc(100vw);;
    }
    .swiper-slide{
        width: 4rem;
    }
    .menu-icon{
        width: 4rem;
    }
}
