.product-modal-container {
    min-height: 500px;
}

.product-modal-left-box {
    min-height: 500px;
    margin-left: 0!important;
}

.product-modal-right-box {
    background: #fff8ec;
    min-height: 500px;
    margin-left: 0!important;
}


@media (max-width: 768px) {
    .product-modal-container {
        min-height: fit-content;
    }

    .product-modal-left-box {
        min-height: fit-content;
    }

    .product-modal-right-box {
        min-height: fit-content;
    }
}
